<hr>
<footer class="footer" style="width: 100%;">
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/pasr_official/" target="_blank"><i
                    class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/profile.php?id=61585522271464" target="_blank"><i
                    class="fa-brands fa-facebook"></i></a>
            <a href="https://youtube.com/@thisworldisbeautiful-iya?si=D5NXpPWf91FZve8c" target="_blank"><i
                    class="fa-brands fa-youtube"></i></a>
            <a href="https://x.com/pasr_officail" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://whatsapp.com/channel/0029VbBwpvI0LKZ8X8kRNQ0f" target="_blank"><i
                    class="fa-brands fa-square-whatsapp"></i></a>
        </div>
        <div>Perfectly Assured Service and Rentals venture</div>
        <div class="city">
            <p class="bold">Cities we are live in </p>
            <span class="City name">Giridih</span>
            <span class="City name">Koderma</span>
            <span class="City name">city 3</span>
            <span class="City name">city 4</span>
        </div>
        <div class="f-info-link">
            <a href="/privacy">Terms and Privacy</a>

        </div>


    </div>

</footer>