<hr>
<footer class="footer" style="width: 100%;">
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/03_sagarverma/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a><i class="fa-brands fa-facebook"></i></a>
            <a href="https://youtube.com/@thisworldisbeautiful-iya?si=D5NXpPWf91FZve8c" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            <a><i class="fa-brands fa-x-twitter"></i></a> 
         </div>
        <div>Perfectly Assured Service and Rentals Pvt Ltd </div>
        <div class="city"><p class="bold">Cities we are live in </p>
            <span class="City name">Giridih</span>
            <span class="City name">city 2</span>
            <span class="City name">city 3</span>
            <span class="City name">city 4</span>
        </div>
        <div class="f-info-link">
            <a href="/privacy">Privacy</a>
            <a href="/term">Term</a>
        </div>

        
    </div>
        
</footer>