
<% layout('./layoutes/boilerplate.ejs') -%>
<body >
    
    <div class="all-cutomer-details" style="margin-top: 50px;">
        <h3> if you find this (*) symbol in form this means it is compulsory to fill.</h3>
    <form method="POST" action="/customer/signup" novalidate class="needs-validation">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"> Enter Your Name *</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required="True" name="customer[name]">
    <div class="invalid-feedback">Please enter your name.</div>
  </div>
  
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">whatsApp number *</label>
    <input type="number" class="form-control" id="exampleInputPassword1" required="True" name="customer[username]" maxlength="10">
    <div class="invalid-feedback">Please enter your valid phone number</div>
  </div>
  <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"> Enter your e-mail Address</label>
      <input type="email" class="form-control" id="exampleInputPassword1" name="customer[emailAddress]" placeholder="pasr1234@gmail.com" >
      <div class="valid-feedback">This field is not that nacessary but if you want you can fill it.</div>
    </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Create Password* </label>
    <input type="password" class="form-control" id="exampleInputPassword1" required="True" name="customer[password]">
    <div class="invalid-feedback">Create your strong password</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Confirm Password* </label>
    <input type="password" class="form-control" id="exampleInputPassword1" required="True" name="customer[confirm]">
    <div class="invalid-feedback">Confirm Password need to same as password</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Enter your location* </label>
    <input type="text" class="form-control" id="exampleInputPassword1" required="True" name="customer[address]">
    <div class="invalid-feedback">Please enter location. This will help you to find services.</div>
  </div>
  <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label" placeholder="825412"> Enter the Pincode * </label>
      <input type="number" class="form-control" id="exampleInputPassword1" name="customer[pincode]" required="True" placeholder="825412">
      <div class="invalid-feedback">Enter your pincode.</div>
    </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1 " required>
    <label class="form-check-label" for="exampleCheck1"><b>I hereby declare that the information provided by me is true, correct, and complete to the best of my knowledge and belief. I understand that any false or misleading information may lead to the rejection of my Login.</b></label>
  </div>
  <button class="btn btn-primary">Submit</button> 
</form>
</div>
<script src="/js/script.js"></script>
</body>
