<% layout('./layoutes/boilerplate.ejs') -%>
<body>
    <h1 class="bold">If you are facing problem in these terms please follow these videos</h1>
    <h3>If you have issue on login folow this video:-<a></a> </h3>
    <h3>How to become a provider:- <a></a></h3>
    <h3>If your status is showing false what it means:- <a href="#"></a></h3>
    <h3>If you have entered the all to become a provider still you are no visible:-<a href="#"></a></h3>
    <h1 class="bold"> For questions or requests relating to privacy, contact:</h1>

<p><b>PASR (Perfectly Assured Service and Rentals)</b></p>
<p>Email:<b style="color: blue;">[pasrsupport22012026@gmail.com]</b></p>
<p>whatsapp No <i class="fa-brands fa-square-whatsapp"></i>: <b style="color: blue;">[82522 71535] </b> we will able to respond inbetween 8am to 8pm. </p>
<p>Address: <b style="color: blue;">[Doranda Dhanwar Giridih 825412 Jharkhand]</b></p>
</body>
